body {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font: 12px sans-serif;
}

button {
  margin: 0 auto 10px auto;
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
}

button:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}

#code {
  display: block;
  white-space: pre-wrap;
}

/* #copy-button { */
/*   box-shadow: none; */
/*   background: #18a0fb; */
/*   color: white; */
/* } */
/*  */
/* #copy-button:focus { */
/*   box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3); */
/* } */
